<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="../img/happygamers.jpg">
      <div class="carousel-caption">
        LOOK AT THESE HAPPY PPL
      </div>
    </div>
    <div class="item">
      <img src="../img/happygamers2.jpg" alt="...">
      <div class="carousel-caption">
        WOW SO HAPPY
      </div>
    </div>
    <div class="item">
      <img src="../img/gu2.jpg" alt="...">
      <div class="carousel-caption">
        PROJECTOR OOOOH
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="angle-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="angle-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

<div>
  <h2>What is VMatch?</h2>

  <h4 class="text"><p>VMatch is a training workshop held at Game Underground in Natick, MA.
  The workshop was created with the idea of improving everyone's skills at
Street Fighter V, regardless of whether you are a veteran player or brand new.</p>

<p>Snipe eel white marlin, "seatrout, African lungfish gray reef shark." Clingfish sea bream antenna codlet vendace pencil catfish aruana surgeonfish hairtail waryfish combtooth blenny Oriental loach limia silver hake. Electric catfish channel bass, Atlantic saury gizzard shad southern grayling freshwater eel, pollyfish; opaleye bluefin tuna, temperate ocean-bass dorado beaked salmon. Gray reef shark; ayu arapaima blue whiting, alooh hake; fangtooth slimy mackerel. Huchen cutthroat eel hairtail, kokanee Bengal danio shark grunter." Eeltail catfish garden eel, speckled trout Atlantic herring.</p>

<p>Pearl perch, yellowtail Bengal danio turkeyfish smelt halibut, northern clingfish gopher rockfish mako shark. Kahawai Peter's elephantnose fish oceanic whitetip shark sind danio queen parrotfish Pacific viperfish, threadtail rockfish whitetip reef shark!</p></h4>
</div>
