<div class="content">
  {{create-player-form routeCreatePlayer='createPlayer'}}

  {{#each model.players as |player|}}
    {{player-row player=player
        routeUpdatePlayer='updatePlayer'
        routeDestroyPlayer='destroyPlayer'}}
  {{/each}}

  <button class="btn btn-success" {{action 'match'}}>Generate</button>
</div>
